<section class="intro intro-subpage">
    <div class="graph">
        <div class="container">
            <h1><strong>Страхи и фобии в младшем школьном возрасте</strong></h1>
            <h2>Проблема страха является актуальной для людей любого возраста, однако наибольшее значение она приобретает именно в младшем школьном возрасте.</h2>
        </div>
    </div>
</section>
<pre></pre>
<section class="templates">
    <div class="container">
        <h3>Видеоролики теста</h3>
        <div class="video_list">
            <iframe width="480" height="315" src="https://www.youtube.com/embed/_pkHHNQ44A0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="480" height="315" src="https://www.youtube.com/embed/tMpwo4xYOVg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h3>Тест для учащихся</h3>
        <p class="test_info">Дорогие ребята! Мы предлагаем вам 65 утверждений относительно тех или иных страхов, испытываемых человеком. Пожалуйста, прочитайте утверждения и отметьте тот вариант, который вам подходит. Ответ «Да» свидетельствует, что вам свойственно данное утверждение, а «Нет» соответственно нет.</p>
        <div style="margin: 0 auto;max-width: 70%;">
            <form action="" сlass="form vote-form">
                <ol class="student_text">

                </ol>
                <center>
                    <div class="vote-form-box-buttons vote-vote-footer">
                         <span class="vote-form-box-button vote-form-box-button-first">
                         <input class="btn btn-success" name="vote" value="Отправить" type="button"></span>
                    </div>
                </center>
                <br>
                <br>
            </form>
        </div>
    </div>
</section>