{% extends 'base.html.twig' %}

{% block title %}Тест для учащихся{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/MainPage.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    {{ include('containers/header.html.twig') }}
    {{ include('student_test/body.html.twig') }}
    {{ include('containers/footer.html.twig') }}
{% endblock %}
