{% extends 'base.html.twig' %}

{% block title %}Главная страница{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/MainPage.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    {{ include('containers/header.html.twig') }}
    {{ include('video_collection/body.html.twig') }}
    {{ include('containers/footer.html.twig') }}
{% endblock %}
