<section class="intro intro-subpage">
    <div class="graph">
        <div class="container">
            <h1><strong>Страхи и фобии в младшем школьном возрасте</strong></h1>
            <h2>Проблема страха является актуальной для людей любого возраста, однако наибольшее значение она приобретает именно в младшем школьном возрасте.</h2>
        </div>
    </div>
</section>
<pre></pre>
<section class="templates">
    <div class="container">
        <h3>Видеоролики теста</h3>
        <div class="video_list">
            <iframe width="480" height="315" src="https://www.youtube.com/embed/73dJcGOBtww" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="480" height="315" src="https://www.youtube.com/embed/gF2lUddPzIs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h3>Анкета для преподавателей</h3>
        <p class="test_info">Уважаемые педагоги, мы проводим исследование по проблеме школьных фобий. Данная тематика исследования имеет большое значение в оптимизации образовательного процесса, улучшении качества образования. Ваши ответы помогут нам определить степень возникновения данной проблемы в нашей школе. А также позволят разработать рекомендации по решению данного вопроса.</p>
        <div style="margin: 0 auto;max-width: 70%;">
            <form action="" сlass="form vote-form">

                <label>Пол: <select name="floor" id="floor" type="text" style="margin-left: 30px;margin-bottom: 10px;">
                        <option disabled>Выберите героя</option>
                        <option value="man">Муж.</option>
                        <option value="women">Жен.</option>

                    </select></label><br>
                <label>Возраст: <input name="age" id="age" type="text"></label>
                <p class="instruction">Инструкция: пожалуйста, внимательно прочитайте вопрос и поставьте галочку рядом с ответом, который Вам подходит. Там, где нет вариантов ответа, напишите свой ответ на конкретный вопрос (свое мнение по данному вопросу).</p>
                <ol style="padding: 17px;" class="teacher_text">
                    <li class="vote-item-vote vote-item-vote-first vote-item-vote-odd ">
                        <div class="vote-item-header">
                            <div class="vote-item-title vote-item-question">Считаете ли Вы что школьная фобия (боязнь, страх) – это явление широко распространенное в современных школах?</div>
                            <div class="vote-clear-float"></div>
                        </div>
                        <div class="vote-answer-bav">
                                <span class="vote-answer-item vote-answer-item-radio">
                                   <div class="radio">
                                      <label for="vote_radio_1_no">
                                        <input name="vote_radio_1_no" id="question_1_yes" value='{"value": "yes","question": 1}' type="radio">
                                        Да
                                      </label>
                                   </div>
                                </span>
                            <span class="vote-answer-item vote-answer-item-radio">
                                   <div class="radio">
                                      <label for="vote_radio_1_no">
                                      <input name="vote_radio_1_no" id="question_1_no" value='{"value": "no","question": 1}' type="radio">
                                      Нет
                                      </label>
                                   </div>
                                </span>
                        </div>
                    </li>
                    <li class="vote-item-vote vote-item-vote-first vote-item-vote-odd ">
                        <div class="vote-item-header">
                            <div class="vote-item-title vote-item-question">Испытывали ли Вы когда – нибудь фобии(страх) в образовательном процессе?</div>
                            <div class="vote-clear-float"></div>
                        </div>
                        <div class="vote-answer-bav">
                                <span class="vote-answer-item vote-answer-item-radio">
                                   <div class="radio">
                                      <label for="vote_radio_2_no">
                                        <input name="vote_radio_2_no" id="question_2_yes" value='{"value": "yes","question": 2}' type="radio">
                                        Да
                                      </label>
                                   </div>
                                </span>
                            <span class="vote-answer-item vote-answer-item-radio">
                                   <div class="radio">
                                      <label for="vote_radio_2_no">
                                      <input name="vote_radio_2_no" id="question_2_no" value='{"value": "no","question": 2}' type="radio">
                                      Нет
                                      </label>
                                   </div>
                                </span>
                            <span class="vote-answer-item vote-answer-item-radio">
                                   <div class="radio">
                                      <label for="vote_radio_2_no">
                                      <input name="vote_radio_2_no" id="question_2_no" value='{"value": "dont_know","question": 2}' type="radio">
                                      Не знаю
                                      </label>
                                   </div>
                                </span>
                        </div>
                    </li>
                    <li class="vote-item-vote vote-item-vote-first vote-item-vote-odd ">
                        <div class="vote-item-header">
                            <div class="vote-item-title vote-item-question">Знаете ли Вы какие – либо случаи существования школьных фобий из практики, опишите и</div>
                            <div class="vote-clear-float"></div>
                        </div>
                        <div class="vote-answer-bav">
                                <span class="vote-answer-item vote-answer-item-radio">
                                   <div class="radio">
                                      <label for="vote_radio_3_no">
                                          <textarea name="vote_textarea_3_no" id="question_3" style="width: 85%;height: 100px;"></textarea>
                                      </label>
                                   </div>
                                </span>
                        </div>
                    </li>
                    <li class="vote-item-vote vote-item-vote-first vote-item-vote-odd ">
                        <div class="vote-item-header">
                            <div class="vote-item-title vote-item-question">Как Вы считаете, какие из ниже перечисленных фобий встречаются чаще у педагогов?</div>
                            <div class="vote-clear-float"></div>
                        </div>
                        <div class="vote-answer-bav">
                                <span class="vote-answer-item vote-answer-item-radio">
                                   <div class="radio">
                                        <select multiple>
                                            <option>Фобия ошибок и неудач.</option>
                                            <option>Фобия превосходства учащихся.</option>
                                            <option>Фобия критики.</option>
                                            <option>Фобия юмора</option>
                                            <option>Фобия одаренных учащихся. </option>
                                            <option> Фобия воспитания. </option>
                                            <option>Фобия преследования.</option>
                                            <option>Фобии индивидуальной работы. </option>
                                            <option>Фобия обратной связи. </option>
                                        </select>
                                   </div>
                                </span>
                        </div>
                    </li>
                    <li class="vote-item-vote vote-item-vote-first vote-item-vote-odd ">
                        <div class="vote-item-header">
                            <div class="vote-item-title vote-item-question">Какие из перечисленных фобий Вы встречали в своей педагогической практике?</div>
                            <div class="vote-clear-float"></div>
                        </div>
                        <div class="vote-answer-bav">
                                <span class="vote-answer-item vote-answer-item-radio">
                                   <div class="radio">
                                      <label for="vote_radio_3_no">
                                          <textarea name="vote_textarea_3_no" id="question_3" style="width: 85%;height: 100px;"></textarea>
                                      </label>
                                   </div>
                                </span>
                        </div>
                    </li>
                    <li class="vote-item-vote vote-item-vote-first vote-item-vote-odd ">
                        <div class="vote-item-header">
                            <div class="vote-item-title vote-item-question">Оцените по 10 –ти бальной шкале перечисленные 9 фобий по степени их значимости и распространенности в образовательном процессе? </div>
                            <div class="vote-clear-float"></div>
                        </div>
                        <div class="vote-answer-bav">
                                <span class="vote-answer-item vote-answer-item-radio">
                                   <div class="radio">
                                        <select multiple>
                                              <option>Фобия превосходства учащихся.</option>
                                              <option>Фобии индивидуальной работы. </option>
                                              <option>Фобия воспитания. </option>
                                              <option>Фобия критики.</option>
                                              <option>Фобия одаренных учащихся.</option>
                                              <option> Фобия юмора. </option>
                                              <option>Фобия преследования</option>
                                              <option>Фобия ошибок и неудач. </option>
                                              <option> Фобия обратной связи. </option>
                                        </select>
                                   </div>
                                </span>
                        </div>
                    </li>
                </ol><br><br>
                <center>
                    <div class="vote-form-box-buttons vote-vote-footer">
                         <span class="vote-form-box-button vote-form-box-button-first">
                         <input class="btn btn-success" name="vote" value="Отправить" type="button"></span>
                    </div>
                </center>
                <br>
                <br>
            </form>
        </div>
    </div>
</section>