<section class="intro intro-subpage">
    <div class="graph">
        <div class="container">
            <h1><strong>Страхи и фобии в младшем школьном возрасте</strong></h1>
            <h2>Проблема страха является актуальной для людей любого возраста, однако наибольшее значение она приобретает именно в младшем школьном возрасте.</h2>
        </div>
    </div>
</section>
<pre></pre>
<section class="templates">
    <div class="container">
        <h3>Видеоролики</h3>
        <div class="video_list">
            <iframe width="480" height="315" src="https://www.youtube.com/embed/_pkHHNQ44A0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="480" height="315" src="https://www.youtube.com/embed/tMpwo4xYOVg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="480" height="315" src="https://www.youtube.com/embed/73dJcGOBtww" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="480" height="315" src="https://www.youtube.com/embed/gF2lUddPzIs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h3 style="margin-bottom: -35px;">Пройдите анкетирование после просмотра видеороликов</h3>
        <div class="category health">
            <i class="flaticon-heart64"></i>
            <h2 class="healthcare">Страхи и фобии</h2>
            <ul>
                <li><a href="/student/test">Тест для учащихся</a></li>
                <li><a href="/teacher/test">Анкета для преподавателей</a></li>
            </ul>
        </div>
    </div>
</section>