body {
    margin: 0 auto;
}

.container {
    max-width: 990px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *zoom: 1;
}

header {
    background: url(../img/intro.jpg);
}

header .container {
    padding-top: 25px;
}

header .container .logo {
    display: block;
/*    float: left;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

header .container {
    padding-top: 10px;
    padding-bottom: 0;
}

header .container .menu, header .container .menu:hover {
    height: 30px;
}

header .container .sign, header .container .sign:hover {
    margin: 0 30px 0 0;
    display: block;
    border: 1px solid #fff;
    padding: 10px 10px 0 10px;
    border-radius: 4px;
    line-height: 100%;
    height: 34px;
    box-sizing: border-box;
    position: relative;
    top: -3px;
}

.container::before, .container::after {
    display: table;
    content: "";
    line-height: 0;
}

header .container .logo img {
    height: 20px;
}

section.intro {
    background: url(../img/intro.jpg);
    color: #fff;
}

section {
    display: block;
    width: 100%;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section.intro.intro.intro-subpage .graph {
    background: none;
}

.intro.intro-subpage .graph {
    height: auto;
    padding-bottom: 30px;
}

.intro.intro-subpage .graph .container h1 {
    font-size: 55px !important;
}

.intro.intro-subpage .graph .container h1 {
    position: relative;
    width: 100%;
    top: auto !important;
    text-align: center;
    letter-spacing: -2px;
}

.intro.intro-subpage .graph .container h2 {
    position: relative;
    width: 100%;
    top: auto !important;
    text-align: center;
    padding-top: 20px;
    letter-spacing: -1px;
    display: block;
    font-size: 16px;
    line-height: 130%;
    font-weight: 300;
    margin: 0;
}

pre {
    display: block;
    padding: 16.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

section.templates .container h3 {
    font-weight: 300;
    color: #52595e;
    margin: 0px;
    padding: 0px 25px;
    font-size: 30px;
    text-align: center;
    letter-spacing: -1px;
    line-height: 130%;
    margin-top: 35px;
}

section.templates .container .category {
    border-radius: 3px;
    background: #fff;
    border: 1px solid #d2d4db;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(210, 212, 219);
    border-bottom: 3px solid #d2d4db;
    width: 44%;
    margin: 80px auto;
    padding: 0 15px 15px 15px;
    position: relative;
}

section.templates .container .category h2 {
    color: #52595e;
    font-size: 25px;
    padding: 0px;
    margin: 25px auto;
    text-align: center;
}

section.templates .container .category ul {
    padding: 1px 0px 0px 95px;
    margin: 0;
}

section.templates .container .category ul li {
    line-height: 170%;
    padding: 0 0 0 15px;
    margin: 0;
    text-align: left;
    list-style: none;
    background: url(../img/list.png) no-repeat left 7px;
}

section.templates a, section.templates a:hover {
    color: #52595e;
}

a, a:hover {
    font-weight: 400;
    text-decoration: underline;
    color: #3f8bca;
    -o-transition: .3s !important;
    -ms-transition: .3s !important;
    -moz-transition: .3s !important;
    -webkit-transition: .3s !important;
    transition: .3s !important;
}

section.faq-category .container ul li:hover {
    border:1px solid #d2d4db;
    border-bottom:3px solid #d2d4db;
}
section.faq-category .container ul li:hover a {
    color:#000;
}

footer {
    display: block;
    width: 100%;
}

footer .section.copyright {
    background: #303639;
}

footer .copyright {
    padding: 25px 10px;
}

footer .section {
    display: block;
    width: 100%;
    *zoom: 1;
}

.container {
    width: 990px;
    padding: 0;
}

footer .copyright a.logo {
    margin-left: 0;
}
footer .copyright a.logo {
    display: block;
}
footer .copyright a.logo {
    float: left;
    display: block;
}
footer .copyright a.logo {
    display: inline-block;
    width: 85px;
    height: 21px;
}
footer a, footer a:hover {
    font-weight: 300;
}

footer .copyright a.logo img {
    display: inline-block;
    width: 100%;
    position: relative;
    top: -5px;
    left: -3px;
    height: 21px;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}

footer .copyright p {
    margin-right: 0;
}
footer .copyright p {
    padding-top: 0;
    width: auto;
    float: right;
    font-size: 13px;
}
footer .copyright p {
    font-size: 12px;
    color: #f2f3f3;
    margin: 0;
    margin-right: 0px;
    white-space: nowrap;
}

.container::after {
    clear: both;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

iframe {
    margin: 15px 6px;
}

.video_list {
    margin-top: 40px;
    margin-bottom: 40px;
}

.test_info {
    max-width: 70%;
    margin: 30px auto;
    font-style: italic;
    text-indent: 25px;
}

#resContainer p {
    margin: 2px;
}

.instruction {
    margin: 30px auto;

    font-style: italic;

    text-indent: 25px;
}

.teacher_text li {
    margin-top: 20px;
}