<section class="intro intro-subpage">
    <div class="graph">
        <div class="container">
            <h1><strong>Страхи и фобии в младшем школьном возрасте</strong></h1>
            <h2>Проблема страха является актуальной для людей любого возраста, однако наибольшее значение она приобретает именно в младшем школьном возрасте.</h2>
        </div>
    </div>
</section>
<pre></pre>
<section class="templates">
    <div class="container">
        <h3>Выберите анкету</h3>
        <div class="category health">
            <i class="flaticon-heart64"></i>
            <h2 class="healthcare">Страхи и фобии</h2>
            <ul>
                <li><a href="/video/collection">Видеоролики</a></li>
                <li><a href="/student/test">Тест для учащихся</a></li>
                <li><a href="/teacher/test">Анкета для преподавателей</a></li>
            </ul>
        </div>
    </div>
</section>