<footer>
    <div class="section copyright">
        <div class="container">
            <a href="/" class="logo"><img src="/img/logo.svg" alt="Survio s.r.o."></a>
            <p>© Copyright 2012 – 2019 <a href="/ru/" onclick="ga('send', 'event', 'Website', 'Click', 'Copyright');"></a>. All rights reserved.</p>
        </div>
    </div>
</footer>