
<header><div class="container">
        {#<a class="menu" id="simple-menu"><i class="flaticon-menu35"></i> <span>Меню</span></a>#}
        <a href="/" class="logo"><img src="/img/logo.svg" alt="Survio"></a>
        {#<a class="sign sign-open">Войти</a></div>#}
</header>